<section>
    <p>Save shrimps! </p>
    <p>We don't want these cuties to end up in lousy shrimp-cocktails. Just look at how sweet shrimps are</p>
</section>

<img src="./shrimp.jpg" alt="A chrystal red shrimp">

<p>Sign our petition and rescue a shrimp!</p>
