{{> weheartshrimps}}

<section>
    <p>Save shrimps! </p>
    <p>We don't want these cuties to end up in lousy shrimp-cocktails. Just look at how sweet shrimps are</p>
</section>

<img src="./shrimp.jpg" alt="A chrystal red shrimp">

<p>Sign our petition and rescue a shrimp!</p>

<section>
    <label>First Name <span class="required">*</span></label>
    <input type="text" name="first">

    <label>Last Name <span class="required">*</span></label>
    <input type="text" name="last">

</section>

<section>
    <label>Sign here<span class="required">*</span>
    <canvas id="canv" width="400" height="50"></canvas>
    <input id="sig-inpt" type="hidden" name="signature" formaction="">
</section>

<button id="submit-btn" type="button" name="submit">Make a change</button>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="canvas.js"></script>
