{{> weheartshrimps}}

<p>Please log in.</p>

{{#if inputError}}
{{> error}}
{{/if}}

<form action="/login" method="post">
    <ul>
        <li>
            <label>Email <span class="required">*</span></label>
            <input type="text" name="email" required>
        </li>
        <li>
            <label>Password <span class="required">*</span></label>
            <input type="password" name="password" required>

        </li>
    </ul>

    <button id="submit-btn" type="submit" name="submit">Log in</button>
</form>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
