{{> logout}}
{{> weheartshrimps}}
{{> appeal}}

{{#if inputError}}
{{> error}}
{{/if}}

<form action="/petition" method="post">
    <section>
        <label>First Name</label>
        <input type="text" name="first">

        <label>Last Name</label>
        <input type="text" name="last">

    </section>

    <section>
        <label>Sign here<span class="required">*</span>
        <canvas id="canv" width="400" height="50"></canvas>
        <input id="sig-inpt" type="hidden" name="signature" required>
    </section>

    <button id="submit-btn" type="submit" name="submit">Make a change</button>
</form>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="canvas.js"></script>
