{{> weheartshrimps}}
{{> appeal}}

{{#if inputError}}
<p class="required">Oh no! Something went wrong. Please try again!</p>
{{/if}}

<form action="/petition" method="post">
    <section>
        <label>First Name <span class="required">*</span></label>
        <input type="text" name="first" required>

        <label>Last Name <span class="required">*</span></label>
        <input type="text" name="last" required>

    </section>

    <section>
        <label>Sign here<span class="required">*</span>
        <canvas id="canv" width="400" height="50"></canvas>
        <input id="sig-inpt" type="hidden" name="signature" required>
    </section>

    <button id="submit-btn" type="submit" name="submit">Make a change</button>
</form>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="canvas.js"></script>
