{{> logout}}
{{> weheartshrimps}}

<section>
    <p>We undersigned to rescue shrimps from ending in shrimp-cocktails!</p>
</section>

<ul>
    {{#each signers}}
        <li>{{first}} {{last}}</li>
    {{/each}}
</ul>
