{{> logout}}
{{> weheartshrimps}}

<section>
    <p>Thank you for signing our petition to save shrimps! ❤️ </p>
    <!-- <p> -->
        <iframe src="https://giphy.com/embed/3o7bueEQInDqYbg6di" width="480" height="270" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
        <!-- <p> -->
            <a href="https://giphy.com/gifs/chopt-shrimp-chopt-salad-3o7bueEQInDqYbg6di"></a>
        <!-- </p> -->
    <!-- </p> -->
</section>

{{> displSignature}}
{{#if inputError}}
{{> error}}
{{/if}}


<a href="/signers">See all {{num}} signers</a>
<!-- <a href="/profile/edit">Edit your profile</a> -->
<a href="/profile/view">View your profile</a>
<a href="/delete">Delete your signature</a>
