* {
    margin: 0;
    padding: 0;
    text-align: center;
    /*border: 2px dotted red;*/
    font-family: Verdana, sans-serif;
}

body {
    background-color: MediumSeaGreen;
}

h1 {
    padding: 30px 10px;
    text-transform: uppercase;
}

p {
    padding: 20px 10px;
}

div {
    text-align: left;
}

img {
    max-height: 200px;
    border: 3px solid FloralWhite;
    box-shadow: 2px 2px 5px grey;
}

form {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
}

form ul {
    padding: 20px;
    border: 2px dotted DarkSeaGreen;
}

form li {
    background-color: DarkSeaGreen;
    padding: 5px;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

form label {
    font-size: 12px;
}

form button {
    margin: 20px 0px;
    margin-buttom: 0px;
}

canvas, input {
    border: 1px solid grey;
    background: FloralWhite;
    text-align: left;
}

input {
    height: 25px;
    width: 200px;
}

button {
    margin: 20px;
    height: 40px;
    width: 400px;
    border-radius: 25px;
    border: 1px solid grey;
    background: black;
    text-transform: uppercase;
    color: FloralWhite;
}

li {
    padding: 5px;
    list-style-type: none;
}

.required {
    color: red;
}

/*.name-input input{
    display: inline;
    width: 150px;
}*/

#canv {
    cursor: url(./pencil.cur), auto;
}

video {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
}

#video-overlay {
    background-color: rgba(0, 0, 0, 0.3);
    display: block;
    width: 100%;
    height:100%;
    opacity: .3;
    position: absolute;
    top: 0;
    z-index: -10;
}

#logout-btn{
    position: fixed;
    top: 10px;
    right: 10px;
    width: 100px;
}

@media (max-width: 400px) {

    video {
        display: none;
    }
    #video-overlay {
        display: none;
    }

}
